# Django Settings
DJANGO_ENV=development
SECRET_KEY=django-insecure-replace-this-with-a-real-one-in-production
DEBUG=True
ALLOWED_HOSTS=0.0.0.0,localhost,127.0.0.1

# Database
DATABASE_URL=postgres://postgres:postgres@localhost:5432/analytics
